.App {
  margin: 24px;
}
.container {
  display: flex;
}

.arrow {
  border: solid #bbb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.explorer {
  padding: 10px;
  min-width: 300px;
}
.cursor-pointer {
  cursor: pointer;
}
.file-name {
  display: inline-block;
  padding: 8px;
}
.file-name.selected {
  color: blue;
}
.folder-name {
  display: inline-block;
  padding: 8px;
}
